body{
    box-sizing: border-box;
    user-select: none;
}

h1, h2, h3, h4, h5, h6, p, body, ul{
    padding: 0;
    margin: 0;
}

header{
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.gameSide{
    width: 40%;
}

.dieBox{
    display: flex;
    justify-content: space-evenly;
}

.holdBox{
    display: flex;
    justify-content: space-evenly;

}

.buttonBox{
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;

}

.hold{
    width: 73px;
    text-align: center;
    border: 1px black solid;
    margin: 3px 0;
    padding: 3px 0;
}

.open{
    box-shadow: 3px 3px 10px;
    background-color: white;
    transition: all, .25s;
}

.closed{
    box-shadow: 0 0 0;
    background-color: darkred;
    color: white;
    transition: all, .25s;
}


.dice{
    width: 73px;
    height: 73px;
    border: 1px black solid;
    background-size: contain;
    background-position: center;
}

.btn{
    border: 1px black solid;
    box-shadow: 3px 3px 10px;
}

.btn:active{
    box-shadow: none;
}

.big{
    width: 90px;
    text-align: center;
    padding: 20px 10px;
    font-size: 20px;
    font-weight: bold;
    justify-self: center;
}

/* Scoring Forms */

.scoringForm{
    display: flex;
}

.lowerScore{
    margin-left: 15px
}

.scoreTitle{
    width: 100px;
    /* text-align: center; */
}

.scoreValue{
    width: 24px;
    text-align: right;
}

.scoreItem{
    display: flex;
    align-items: center;
    width: 170px;
    height: 44px;
    justify-content: space-between;
    border-top: 1px black solid;
    /* border-bottom: 1px black solid; */
}

.check{
    height: 30px;
    width: 30px;
    background-color: grey;
}


